In [2]:
import pandas as pd

In [17]:
pathData = "RawData/2017/2017_Andhra Pradesh_Kharif.xlsx"

In [19]:
df = pd.read_excel(pathData)

In [23]:
df.columns

Index(['State', 'Cluster', 'District', 'Sub-District', 'Block', 'GP', 'Season',
       'Crop', 'Area Sown (Ha)', 'Area Insured (Ha)', 'SI Per Ha (Inr/Ha)',
       'Sum Insured (Inr)', 'Indemnity Level', '2000 Yield', '2001 Yield',
       '2002 Yield', '2003 Yield', '2004 Yield', '2005 Yield', '2006 Yield',
       '2007 Yield', '2008 Yield', '2009 Yield', '2010 Yield', '2011 Yield',
       '2012 Yield', '2013 Yield', '2014 Yield', '2015 Yield', '2016 Yield',
       '2017 Yield', '2018 Yield'],
      dtype='object')

In [43]:
df["Indemnity Level"]

0        0.8
1        0.8
2        0.8
3        0.8
4        0.8
        ...
18730    0.8
18731    0.8
18732    0.8
18733    0.8
18734    0.8
Name: Indemnity Level, Length: 18735, dtype: float64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18735 entries, 0 to 18734
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               18735 non-null  object
 1   Cluster             18735 non-null  int64
 2   District            18735 non-null  object
 3   Sub-District        18735 non-null  object
 4   Block               0 non-null      float64
 5   GP                  17617 non-null  object
 6   Season              18735 non-null  object
 7   Crop                18735 non-null  object
 8   Area Sown (Ha)      18735 non-null  float64
 9   Area Insured (Ha)   18735 non-null  float64
 10  SI Per Ha (Inr/Ha)  18735 non-null  int64
 11  Sum Insured (Inr)   18735 non-null  float64
 12  Indemnity Level     18735 non-null  float64
 13  2000 Yield          0 non-null      float64
 14  2001 Yield          0 non-null      float64
 15  2002 Yield          0 non-null      float64
 16  2003 Yield          0 non-null      float64
 17  2004 Yield          0 non-null      float64
 18  2005 Yield          0 non-null      float64
 19  2006 Yield          16829 non-null  float64
 20  2007 Yield          17777 non-null  float64
 21  2008 Yield          18602 non-null  float64
 22  2009 Yield          18645 non-null  float64
 23  2010 Yield          18668 non-null  float64
 24  2011 Yield          18735 non-null  float64
 25  2012 Yield          18735 non-null  float64
 26  2013 Yield          18735 non-null  float64
 27  2014 Yield          18735 non-null  float64
 28  2015 Yield          18715 non-null  float64
 29  2016 Yield          8953 non-null   float64
 30  2017 Yield          0 non-null      float64
 31  2018 Yield          0 non-null      float64
dtypes: float64(24), int64(2), object(6)
memory usage: 4.6+ MB

In [35]:
df["2010 Yield"].min(),df["2010 Yield"].max()

(0.0, 129974.0)

In [39]:
df["2016 Yield"].min()

0.0