In [41]:
from os import listdir
from os.path import isfile, join
import pandas as pd

In [20]:
YEAR = 2019
SEASON = 'Kharif'

liste_dataframe = []
monRepertoire = "RawData/"+str(YEAR)
for f in listdir(monRepertoire)  :
    if isfile(join(monRepertoire, f)) and (f[-11:-5] == SEASON or f[-9:-5] == SEASON):
        pathData = "RawData/"+str(YEAR)+"/"+f
        liste_dataframe.append(pd.read_excel(pathData))

df = pd.concat(liste_dataframe)
print(df)

               State  Cluster        District Sub-District       Block  \
0     Andhra Pradesh        1       Anantapur        Agali         NaN
1     Andhra Pradesh        1       Anantapur        Agali         NaN
2     Andhra Pradesh        1       Anantapur        Agali         NaN
3     Andhra Pradesh        1       Anantapur        Agali         NaN
4     Andhra Pradesh        1       Anantapur        Agali         NaN
...              ...      ...             ...          ...         ...
3741     West Bengal        2  Uttar Dinajpur          NaN    HEMTABAD
3742     West Bengal        2  Uttar Dinajpur          NaN      ITAHAR
3743     West Bengal        2  Uttar Dinajpur          NaN   KALIAGANJ
3744     West Bengal        2  Uttar Dinajpur          NaN  KARANDIGHI
3745     West Bengal        2  Uttar Dinajpur          NaN     RAIGANJ

                       GP  Season       Crop  Area Sown (Ha)  \
0                   Agali  Kharif      Arhar             NaN
1     Akkagaladevarahalli  Kharif      Arhar             NaN
2     Hulikeradevarahalli  Kharif      Arhar             NaN
3               Inagalore  Kharif      Arhar             NaN
4               Kodihalli  Kharif      Arhar             NaN
...                   ...     ...        ...             ...
3741                  NaN  Kharif  Aus Paddy             NaN
3742                  NaN  Kharif  Aus Paddy             NaN
3743                  NaN  Kharif  Aus Paddy             NaN
3744                  NaN  Kharif  Aus Paddy             NaN
3745                  NaN  Kharif  Aus Paddy             NaN

      Area Insured (Ha)  ...   2009 Yield   2010 Yield   2011 Yield  \
0              0.168514  ...   264.534667   150.820333    87.096222
1              0.168514  ...   264.534667   150.820333    87.096222
2              0.168514  ...   264.534667   150.820333    87.096222
3              0.168514  ...   264.534667   150.820333    87.096222
4              0.168514  ...   264.534667   150.820333    87.096222
...                 ...  ...          ...          ...          ...
3741           1.857143  ...  1479.010000  1814.600000  1748.970000
3742           1.857143  ...  1479.010000  1814.600000  1748.970000
3743           1.857143  ...  1053.080000  1641.160000  1406.630000
3744           1.857143  ...  1479.010000  1814.600000  1748.970000
3745           1.857143  ...  1620.980000  1872.410000  1863.080000

      2012 Yield  2013 Yield  2014 Yield  2015 Yield  2016 Yield  2017 Yield  \
0        108.775       70.00      295.00       89.00        99.0         NaN
1        108.775       58.00      232.00      120.00        99.0         NaN
2        108.775       67.00      295.00       89.00        99.0         NaN
3        108.775       62.00      232.00      120.00        99.0         NaN
4        108.775       70.00      295.00       89.00        99.0         NaN
...          ...         ...         ...         ...         ...         ...
3741    1781.370     1942.86     2086.49     2346.79         NaN         NaN
3742    1781.370     1942.86     2086.49     2346.79         NaN         NaN
3743    1781.370     1942.86     2086.49     2346.79         NaN         NaN
3744    1781.370     1942.86     2086.49     2346.79         NaN         NaN
3745    1781.370     1942.86     2086.49     2346.79         NaN         NaN

      2018 Yield
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
3741         NaN
3742         NaN
3743         NaN
3744         NaN
3745         NaN

[372909 rows x 32 columns]

In [43]:
def clean_data_2(df):
    #Suppresion des colonnes sans valeur non nulle
    df = df.drop(columns = ["2018 Yield"])
    #Suppression des colonnes inutiles
    df = df.drop(columns = ["State","Sub-District","GP","Season","Block","Sum Insured (Inr)"])
    #On remplace les rendements nuls par leur moyenne
    for year in range(2000,2018):
        col = f"{year} Yield"
        df[col] = df[col].fillna(df[col].mean())
    for col in ["Area Sown (Ha)","Area Insured (Ha)","SI Per Ha (Inr/Ha)"]:
        df[col] = df[col].fillna(df[col].mean())
    return df

clean_data_2(df).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 372909 entries, 0 to 3745
Data columns (total 25 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Cluster             372909 non-null  int64
 1   District            372909 non-null  object
 2   Crop                372909 non-null  object
 3   Area Sown (Ha)      372909 non-null  float64
 4   Area Insured (Ha)   372909 non-null  float64
 5   SI Per Ha (Inr/Ha)  372909 non-null  float64
 6   Indemnity Level     372909 non-null  float64
 7   2000 Yield          372909 non-null  float64
 8   2001 Yield          372909 non-null  float64
 9   2002 Yield          372909 non-null  float64
 10  2003 Yield          372909 non-null  float64
 11  2004 Yield          372909 non-null  float64
 12  2005 Yield          372909 non-null  float64
 13  2006 Yield          372909 non-null  float64
 14  2007 Yield          372909 non-null  float64
 15  2008 Yield          372909 non-null  float64
 16  2009 Yield          372909 non-null  float64
 17  2010 Yield          372909 non-null  float64
 18  2011 Yield          372909 non-null  float64
 19  2012 Yield          372909 non-null  float64
 20  2013 Yield          372909 non-null  float64
 21  2014 Yield          372909 non-null  float64
 22  2015 Yield          372909 non-null  float64
 23  2016 Yield          372909 non-null  float64
 24  2017 Yield          372909 non-null  float64
dtypes: float64(22), int64(1), object(2)
memory usage: 74.0+ MB